@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .button {
    align-content: center;
    border-radius: theme('borderRadius.lg');
    border-width: theme('borderWidth.2');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.sm');
    background-color: theme('backgroundColor.amber.300');
    border-color: theme('backgroundColor.amber.50');
  }

  .button:hover {
    border-color: theme('backgroundColor.amber.50');
    background-color: theme('backgroundColor.amber.400');
  }

  .button:active {
    border-color: theme('backgroundColor.amber.50');
    background-color: theme('backgroundColor.amber.600');
  }

  .button:disabled {
    opacity: 0.25;
    border-color: theme('backgroundColor.amber.300');
    background-color: theme('backgroundColor.amber.300');
  }

  .cancelButton {
    margin-bottom: 1rem;
    padding-left: theme('spacing.2');
    padding-right: theme('spacing.2');
    align-content: center;
    border-radius: 50%;
    background-color: theme('backgroundColor.red.600');
    opacity: 0.9;
  }

  .cancelButton:hover {
    background-color: theme('backgroundColor.red.700');
  }

  .cancelButton:active {
    background-color: theme('backgroundColor.red.800');
  }


  .title {
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(225, 255, 180, .8);
  }

  .card {
    margin: theme('spacing.4');
    border-radius: theme('borderRadius.lg');
    border-width: theme('borderWidth.4');
    padding: theme('spacing.4');
    box-shadow: theme('boxShadow.sm');
  }

  .cardTrip {
    margin: auto;
    padding: theme('spacing[0.5]');
    background-color: rgba(225, 255, 180, 0.3);
  }

  .cardPOI {
    font-size: large;
    line-height: 1.5rem;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    margin-top: theme('spacing.[0.5]');
    padding: theme('spacing[2]');
    border-radius: theme('borderRadius.lg');
    box-shadow: theme('boxShadow.md');
    border-color: theme('colors.amber.300');
    border-top-width: theme('borderWidth.0');
    border-bottom-width: theme('borderWidth.0');
    border-left-width: theme('borderWidth.4');
    border-right-width: theme('borderWidth.4');
    background-color: theme('backgroundColor.amber.50');
  }

  .cardPOI:hover {
    background-color: theme('backgroundColor.amber.100');
  }

  .cardPOI:active {
    background-color: theme('backgroundColor.amber.100');
  }

  .cardPOI:focus, :focus-visible {
    background-color: theme('backgroundColor.amber.200');
  }

  .cardPOIMarker {
    margin: theme('spacing.2');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.2');
    box-shadow: theme('boxShadow.md');
    border-color: theme('colors.amber.400');
    border-top-width: theme('borderWidth.0');
    border-bottom-width: theme('borderWidth.0');
    border-left-width: theme('borderWidth.0');
    border-right-width: theme('borderWidth.0');
    background-color: theme('backgroundColor.amber.50');
  }

  .cardPOIMarker:hover {
    background-color: theme('backgroundColor.amber.100');
  }

  .cardPOIMarker:active {
    background-color: theme('backgroundColor.amber.200');
  }

  .cardPOIAddInfo {
    margin-top: 7rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: theme('borderRadius.lg');
    border-color: theme('colors.amber.300');
    border-top-width: theme('borderWidth.0');
    border-bottom-width: theme('borderWidth.0');
    border-left-width: theme('borderWidth.0');
    border-right-width: theme('borderWidth.0');
    background-color: theme('backgroundColor.amber.50');
  }

  .cardPOIAddInfoPictures {
    overflow: auto;
    margin-top: 1rem;
    padding-bottom: 100%;
  }


  .cardInfo {
    margin: theme('spacing.2');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.2');
    box-shadow: theme('boxShadow.md');
    border-color: theme('colors.lime.400');
    border-top-width: theme('borderWidth.0');
    border-bottom-width: theme('borderWidth.0');
    border-left-width: theme('borderWidth.8');
    border-right-width: theme('borderWidth.0');
  }

  .cardTitle {
    margin: theme('spacing.2');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.4');
    border-color: theme('colors.lime.500');
    border-top-width: theme('borderWidth.0');
    border-bottom-width: theme('borderWidth.0');
    border-left-width: theme('borderWidth.8');
    border-right-width: theme('borderWidth.0');
  }

  .picture {
    margin: theme('spacing.[0.5]');
    border-radius: theme('borderRadius.md');
    border-width: 0;
    padding: 0;
    width: 20%;
    height: 20%;
    max-width: 200px;
    max-height: 200px;
    min-height: 80px;
    min-width: 80px;
    transform-origin: top left;
    -webkit-transform-origin: top left;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }

  .picture:hover {
    cursor: pointer;
  }

  .picture:focus {
    transform: translate(0%, 0%) scale(2.75);
    transform-origin: top left;
    -webkit-transform: translate(0%, 0%) scale(2.75);
    -webkit-transform-origin: top left;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }

  .instructions {
    position: absolute;
    margin-bottom: 3rem;
    height: 8rem;
    width: 16rem;
    top: -10;
    bottom: 50%;
    padding: theme(spacing.2);
    overflow-y: scroll;
    border-radius: theme('borderRadius.lg');
    background-color: theme('backgroundColor.amber.50');
  }

  .sidemenu {
    position: absolute;
    top: 75%;
    bottom: 6%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    ;
  }

  .poiButton {
    font-size: xx-large;
    line-height: 1.75rem;
    align-content: center;
    border-radius: theme('borderRadius.lg');
    margin: theme('spacing.1');
    padding: theme('spacing.2');
    box-shadow: theme('boxShadow.sm');
    background-color: theme('backgroundColor.amber.300');
    border-color: theme('backgroundColor.amber.50');
  }

  .poiButton:hover {
    border-color: theme('backgroundColor.amber.50');
    background-color: theme('backgroundColor.amber.400');
  }

  .poiButton:active {
    border-color: theme('backgroundColor.amber.50');
    background-color: theme('backgroundColor.amber.600');
  }

  .poiButton:disabled {
    opacity: 0.25;
    border-color: theme('backgroundColor.amber.300');
    background-color: theme('backgroundColor.amber.300');
  }
}